:root {
    --font-family: 'Comfortaa', Droid Sans, Helvetica, sans-serif!important;
    --body-background-color: #001716;
    --body-text-color: #fff0f0;
    --card-background-color: #002b29;
    --nav-background-color: #002b29;
    --nav-border-bottom-color: #b1e4e1;
    --nav-current-border-bottom-color: #1abc9c;
    --card-border-color: #9bdbd8;
    --down-border-left-color: #ec6d84;
    --down-background-color: #e9abb7;
    --degraded-border-left-color: #eec263;
    --up-border-left-color: #20bf6b;
    --tag-color: #94ebbf;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #f55c78;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}
/* . . . */